.about__inner {
	background-image: url(../img/about/photo.png);
	background-repeat: no-repeat;
	padding: 90px 0 0 10px;
}
.about__title {
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 63px;
	text-align: center;
}
.about__content {
	display: flex;
	justify-content: space-between;
	margin-left: 400px;
}
.items-item {
	margin-bottom: 110px;
	line-height: normal;
}	
.items-item:nth-child(2) {
	margin-left: 40px;
}
.items-item:nth-child(3) {
	margin-bottom: 0;
}
.item-text1 {
	vertical-align: top;
	margin-right: 5px;
}
.item-num {
	font-weight: 900;
	font-size: 80px;
	color: #fff;
	-webkit-text-stroke: 1px #0b141d;
	text-shadow: 2px 3px 4px #f8d930;
	margin-right: 5px;
}
.item-text2 {
	vertical-align: bottom;
}
.about__description {
	background-image: url(../img/about/img.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.about__description-text {
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 74px;
	padding-right: 10px;
}
.about__description-adv1 {
	margin-bottom: 60px;
}
.about__description-adv2 {
	padding-bottom: 169px;
}
