.hero {
	background-image: url(../img/hero/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.header {
}
.logo {
}
.menu {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}
.networks {
}
.networks__item {
}
.hero__content {
}
.hero__title {
}
.hero__text {
}
.hero__btn {
}