.report {
	background-color: #c7dce8;
	margin-bottom: 10px;
}

.report__img {
	width: 60%;
}

.report__slider-item {
	text-align: center;
}


.slick-track {
	display: flex;
	align-items: flex-start;
}

.slick-list {
	overflow: hidden;
}

.report__slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 63px;
	height: 30px;
}

.report__slider {
	position: relative;
	padding: 20px 80px;
}

.report__slider .slick-prev {
	left: 0;
	background: url("../img/report/arrow-prev.svg") 0 0 / 100% no-repeat;
}

.report__slider .slick-next {
	right: 0;
	background: url("../img/report/arrow-next.svg") 0 0 / 100% no-repeat;
}

.report__slider .slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
}

.report__slider .slick-dots li {
	margin: 0 10px;
}

.report__slider .slick-dots button {
	font-size: 0;
	width: 50px;
	height: 5px;
	background: url("../img/report/line.svg");
}

.report__slider .slick-dots li .slick-active button {
	width: 50px;
	height: 5px;
	background: url("../img/report/active-line.svg");
}
